/* KUKU */
.kuku-difficulty {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.kuku-diff-btn {
    padding: 12px 18px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, .2);
    cursor: pointer;
    transition: .3s;
    font-weight: bold;
}

/* EASY */
#kukuEasy:checked+label {
    background: rgba(34, 197, 94, .2);
    border-color: #22c55e;
    color: #22c55e;
}

/* MEDIUM */
#kukuMedium:checked+label {
    background: rgba(245, 158, 11, .2);
    border-color: #f59e0b;
    color: #f59e0b;
}

/* HARD */
#kukuHard:checked+label {
    background: rgba(239, 68, 68, .2);
    border-color: #ef4444;
    color: #ef4444;
}

#kukuHint {
    font-size: 14px;
    opacity: .8;
}

.kuku-board {
    display: grid;
    gap: 10px;
    margin: 20px auto;
    width: 280px;
}

.kuku-cell {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 12px;
    cursor: pointer;
}

.time-container {
    width: 100%;
    height: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin: 10px 0;
}

.time-bar {
    width: 100%;
    height: 100%;
    background: var(--accent);
    border-radius: 6px;
    transition: width 0.1s linear;
}